* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'montserrat', sans-serif;
    background-size: cover;
    background-position: top center;
    background-image: url('background.jpg');
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.app-wrap, .app-wrap2 {
    margin-top: 30px;
    width: 300px;
    min-width: 300px;
    height: 525px;
    min-height: 525px;
    background-color: rgb(163, 162, 162);
    border-radius: 15px;
    border: 1px solid rgb(68, 68, 68);
    box-shadow: 0 5px 10px rgb(255, 255, 224);
    opacity: 1;
}

#app-wrap2 {
    display: none;
}

header {
    justify-content: center;
    width: 100%;
    margin: 20px 0 40px 0;
}

header input {
    width: 100%;
    max-width: 280px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: rgba(246, 246, 246, 0.6);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 2px solid rgba(246, 246, 246, 1);

    color: #313131;
    font-size: 15px;
    font-weight: 200;
    transition: 0.2s ease-out;
}

header input:hover, header input:focus {
    background-color:rgba(246, 246, 246, 0.85);
}

.container1 {
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.location .city {
    color: ghostwhite;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 5px;
    text-shadow: 1px 2px rgb(5, 5, 5, 0.6);
}

.location .date {
    color: ghostwhite;
    font-size: 15px;
    text-shadow: 1px 1px rgb(5, 5, 5, 0.6);
}

.current .temp {
    color: ghostwhite;
    font-size: 70px;
    font-weight: 750;
    margin: 15px 0px;
    text-shadow: 1px 5px rgb(5, 5, 5, 0.6);
}

.current .temp span {
    font-weight: 500;
}

.current .weather {
    color: ghostwhite;
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 1px rgb(5, 5, 5, 0.6);
}

.current .hi-low {
    color: ghostwhite;
    font-size: 20px;
    font-weight: 350;
    text-shadow: 0px 1px rgb(5, 5, 5, 0.6);
}

.current2 {
    flex: 1;
    padding: 25px 25px 50px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.humidity {
    color: ghostwhite;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
    text-shadow: 1px 2px rgb(5, 5, 5, 0.6);
}

.windSpeed {
    color: ghostwhite;
    font-size: 20px;
    margin-bottom: 30px;
    text-shadow: 1px 2px rgb(5, 5, 5, 0.6);
}

.windDirection {
    color: ghostwhite;
    font-size: 20px;
    margin-bottom: 30px;
    text-shadow: 1px 2px rgb(5, 5, 5, 0.6);
}

.visibility {
    color: ghostwhite;
    font-size: 20px;
    margin-bottom: 30px;
    text-shadow: 1px 2px rgb(5, 5, 5, 0.6);
}